@import './../../../../styles/variables';
.MuiCardContent-root{
    padding:8px;
}

.product-container{
    // display: flex;
    // min-height:calc((#{100vh}) - 135px);
    // align-items: flex-start;
    // padding:0 40px;
    // width: auto;
    // flex-wrap: wrap;
    box-shadow: -15px 0 35px rgba(0,0,0,0.1),
    0 -15px 35px rgba(0,0,0,0.1), 
    0 15px 35px rgba(0,0,0,0.1);
    .grid-item-product{
    }
}

.product-image{
    width:100%;
    object-fit: cover;
    background-repeat: no-repeat;
    // width: 100%;
}
.product-stock{
    color:$green;
}
.card-wrapper{
    // position: relative;
    // background-color: $abs-white;
    // min-width: 295px;
    // min-height:456px;
    // background-color: $bg-grey;

    
    &:hover{
        cursor: pointer;
    }

    .card-background{
        height: 15em;
    }
}
.product-image{
    // position: absolute;
    display:flex;
    width:100%;
    height:100%;
    height: inherit;
    top:0;
    left:0;
}
.card-info{
    min-height: 10em;
    // position: absolute;
    text-align: center;
    display: flex;
    // width: 100%;
    // height: 100%;
    // z-index: 10;
    &-name{
        h2{
            font-size: 1.2em;
            padding:10px 10px;
            // color:$primary-color;
        }
        // position: absolute;
        display: flex;
        width: 100%;
        justify-content: space-between;
      
    }
    .price-wrapper{
        display: flex;
        width: -webkit-fill-available;
        justify-content: flex-end;
    }
    &-price{
            width: auto;
            height: 38px;
            background-color: $green;
            -webkit-border-radius: 3px 4px 4px 3px;
            -moz-border-radius: 3px 4px 4px 3px;
            border-radius: 3px 4px 4px 3px;
            
            border-left: 1px solid $green;
        
            /* This makes room for the triangle */
            margin-left: 19px;
            position: relative;
            color: $abs-white;
            font-weight: 300;
            font-size: 1em;
            line-height: 38px;
        
            padding: 0 10px 0 10px;
        
            &:before {
                content: "";
                position: absolute;
                display: block;
                left: -19px;
                width: 0;
                height: 0;
                border-top: 19px solid transparent;
                border-bottom: 19px solid transparent;
                border-right: 19px solid $green;
            }
            
            /* Makes the circle */
            &:after {
                content: "";
                background-color: $abs-white;
                border-radius: $border-circle;
                width: 10px;
                height: 10px;
                display: block;
                position: absolute;
                left: -1px;
                top: 13px;
            }
    }
    &-new{
        bottom:5px;
        color:$green;
        padding:10px;
        border:2px solid $green;
        border-radius: 5px;
        position: absolute;
    }
}
.brand{
    // position: absolute;
    // width:100%;
    padding:12px;
    // left:0px;
    // top:40px;
    text-transform: uppercase;
    line-height:.9;
    border-radius: 5px;
    z-index: 5;
    opacity: .5;
 }

 .card-actions-wrapper{
    background-color:$blueh;
    display: flex;
    justify-content: flex-end;
  .love {
      color: $white;
              &:hover{
                color:$red;
                transform:scale(1.5);
              }
  }
  .love-ed{
              color:$red;
              background-color:$redh;
  }
  .buy{
    background-color:$blueh;
    color:$white;
    &:hover{
        transform:scale(1.1);
        background-color:$blue;
        color:$abs-white;
    }
  }
}