@import './../../styles/variables';
.not-found-container {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:$primary-color;
    // height: calc( 100vh - $header-height );

    h3{
        position: absolute;
        margin-top:50vh;
    }
}