.product-container{
    display: flex;
    min-height:calc((#{100vh}) - 135px);
    align-items: flex-start;
    padding:0 40px;
    width: auto;
    flex-wrap: wrap;
    .grid-item-product{
    }
}

.no-products-found{
    height:calc((#{100vh}) - 135px);
}