
.pagination-container{
    margin-top:20px;
    padding-top:10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.products-container{

}

.no-products-found-container{
    
}
