@import './../../../../styles//variables';

.main-list{
    display: flex;
    justify-content: space-between;
}
.MuiListItem-gutters{
    display: flex;
    justify-content: space-between;
    padding:0;
}
.MuiCollapse-wrapper{
    width:100%;
}

.btn-title{
    width: 100%;
    justify-content: space-between;
}

.cat-link{
    flex:1;
    line-height: 20px;
    border-bottom: 1px solid #ccc;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    &:last-child{
        border:none;
    }

    &:hover{
        font-size: 20px;
        background:$blueh;
        color:$white;
    }
}
