
@import './../../../../styles/variables';
.product-search-wrapper{
    display:flex;
    width:100%;
    border-bottom:4px solid $grey;
    // padding:10px;
    .product-search-container{
        width:50%;
    }
}