@import './../../../styles/variables';

.profile-icon{
        .material-icons{
            // background-color:$white;
        }
}

.profile-list{
    width:150px;
        li{
            padding:0 20px;
        }
}

.MuiButton-textPrimary{
    color:$white;
}