@import './../../styles/variables';

.header-container {
    display: flex;
    justify-content: space-between;
    background-color:$purple;
    color:$secondary-color;

    .menu-button{
        color:$secondary-color;
    }
}
a{
    color:$primary-color;
    padding: 12px 16px;
}
.header-link{
    padding: 0 16px;

}

.search-container{
}

.logo{
    display: flex;
}

.options-tray{
    display:flex;
}

