@import './../styles//main.scss';
.header-links{
    // height: 100vh;
    // width:$sidebar-width;
    // background-color: $primary-color;
    // color:$secondary-color;
    // position: absolute;
    // top:0;
    // left:-$sidebar-width;
    // transition:0.3s ease-in-out;
    // z-index: 100;
    // ul{
    //     list-style: none;
        a{
            text-decoration: none;
            color:$secondary-color;
        }
    }

//     &-open {
//         left: 0px;
//     }

//     &-close{
//         left:-$sidebar-width;
//     }
// }

// .core-app-wrapper {
//     padding-top:$header-height;
//     // height:calc(100vh - $header-height)
// }

a{
    text-decoration:none;
}
.App{
background-color:$bg;
color:$white;

h3 h4 h5 h6 {
color:$white;
}
input{
color:$white;
}
label{
    color:$white;
}
}

.arrows{
    span{
        color:$white;
    }
}

